@import "tailwindcss";

@theme {
  --color-primary: #003b95;
  --color-secondary: #0071c2;
  --color-accent: #ffb700;
  --color-background: #f5f5f5;
  --color-surface: #ffffff;
}

body {
  background-color: var(--color-background);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
